.friends {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 50px;
  background: #8c91b1;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 20px -13px black;
  justify-content: space-between;
  margin-bottom: 15px;
}

.App {
  display: flex;
  gap: 15px;
}

.split {
  padding: 15px;
  background: #8c91b1;
  box-shadow: 0 0 20px -13px black;
  border-radius: 15px;
}

button {
  padding: 5px 15px;
  background: #c9c9ff;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover{
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.active{
  background: #465fff;
}